<div>
	<div class='header'>
		<img class="pull-left logo" src="img/logo.png">

		<div class="col-md-7 searchBox">
			<form>
				<div class="input-group input-group-lg">
				    <input 
				      type="text" 
				      class="form-control" 
				      placeholder="Search pet food, accessories, toys and more..."
				      rv-value="model.searchText">
				    <span class="input-group-btn">
				    <button class="btn btn-default" type="button">Go!</button>
					</span>
				</div><!-- /input-group -->
			</form>
		</div><!-- /.col-lg-6 -->
		<div class="headerCart pull-right">
			
			<button type="button" class="btn btn-default btn-lg">
				<span class="glyphicon glyphicon-shopping-cart"></span> Cart
			</button>
		</div>
	</div>

	<img id="#loaderBar" class="well" src="img/loaderBar.gif" style="display: none">
	<div id="catalog"></div>
	<div id="footer"></div>
</div>