<div class="product-thumbnail">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img rv-src="model.imageUrl" alt="...">
      <div class="caption">
        <h3> { model.description } </h3>
        <p> { model.price | currency '$' } </p>
        <div>
          <a 
            class="btn btn-primary" 
            role="button"
            >Add to Cart</a> 
          <a 
            class="btn btn-default" 
            role="button"
            >Add to Wishlist</a>
        </div>
      </div>
    </div>
  </div>
</div>